<h1>Joined Text View: Development Repository</h1>

<app-joined-text-view [backendAddress]="backendAddress"
                      [textRootIri]="textRootIri"
                      [queryParamForTextRootIri]="queryParamForTextRootIri"
                      [textConfiguration]="textConfiguration"
                      [styleDeclarations]="styleDeclarations"
                      [selectiveStyleDeclarations]="selectiveStyleDeclarations"
                      [(hoveredResource)]="hoveredElement">
</app-joined-text-view>
